/* tag ile kullanımı*/
p{
    background-color:black;
}

/* id ile kullanımı*/
#pr_id{
    background-color:rgb(255, 166, 0);
}

/* class ile kullanımı*/
.pr_class{
    background-color:rgb(0, 255, 0);
}

/* color , background-color ,important*/
/*margin , padding*/
#pr_id{
    color:red;
    color:red;
    color:rgb(255, 17, 0);
    color:hsl(0, 100%, 50%);
    color:hsl(0, 100%, 50%,0.9);
    background-color: black !important;
    background-color: red;
    
    /* padding:10px 15px 20px 12px;
    padding:10px 20px 15px;
    padding:15px 20px; */

    padding:15px;
    padding-top:10px 15px;
    padding-right: 10px;
    padding-bottom: 15px ;
    padding-left: 20px;

    /* margin:10px 15px 20px 12px;
    margin:10px 20px 15px;
    margin:15px 20px;
    margin:15px; */

    margin-top:10px 15px;
    margin-right: 10px;
    margin-bottom: 15px ;
    margin-left: 20px;

    border:10px solid white;

    text-shadow:1px 10px 5px red;
}
/*border border-radius*/
#div_id{
    background-color:black;
    border:150px solid white;
    /* border-radius: 100px 10px 5px 30px; */

    padding:25px;
    margin-bottom:100px;
    border-width: 20px;
    border-style:solid;
    border-color:blue;

    border-bottom-right-radius:25px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
    border: bottom left radius 15px; ;

    text-shadow:8px 10px 5px red;
    text-align:center;

}
/* Text,Text align,Font */
#parag_id4{
    background-color:lightslategray;
    color:black;
    padding:25px;
    font-style:italic;
    text-decoration: underline;
    text-transform: capitalize;
    line-height:1.5;
    padding-left:10px;
    padding-right: 12px;
    word-spacing: 7px;
    letter-spacing: 2px;
    border-bottom-right-radius:25px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
    border: bottom left radius 15px; ;

    text-shadow:8px 10px 5px white;
    text-align:center;
}

/* Column -count */
.column-container{
  column-count:3;
  column-gap:20px;
column-rule: 2px solid gray;
text-align: justify;
}
/* line clamp */
.line-clamp4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow: hidden;
/* other for browsers: */
    display: -moz-box;
    -moz-line-clamp: 4;
    -moz-box-orient: vertical; 
}
/*link*/
#yt_link{
    color:blue;
    text-decoration: none;
    background-color: black;
    padding:10px;
}

#yt_link:hover{
    color:white;
    text-decoration: none;
    background-color: blue;
    padding:9px;
    width:50px;
}
.miuul_width_height{
    color:white;
    width:70%;
    width:200px;
    height:50px;
    background-color: blue;
    margin-top:10px;
}
.miuul_width_height:hover{

    background-color: black;
    color:blue;
    cursor:pointer;
    cursor:move;
    cursor:text;
}
/* Transaction,Transform,Box Shadow */

.miuul_transition_transform{
    background-color: lightblue;
    color:white;
   width:75%;
    transition: all 0.5s ease-in-out;
    padding:10px;
    transition: width 1s ease-in-out 0.3s background-color 0.5s linear;
    transition:3s all;


}
.miuul_transition_transform:hover{
    background-color: black;
    color:blue;
    width:200px;
    transform:rotate(360deg);
    box-shadow: 10px 100px 15px red;
    transform:scale(1.5), translate(100px, 50px);
    transform:skew(3deg,2deg);
}

/* Display_visibility box_sizing */
*{
    box-sizing: border-box; /*hepsi 200 px oluyor*/
}
.miuul_display{
  display:block;
  display:inline;
  display:inline-block;
  /* display:grid; */
  /* display:flex; */
  visibility: hidden;
  visibility: visible;
  border:6px solid black;
  width:200px;
  padding:20px;

}
/* Liste */
.menu{
    background-color: #333;
    overflow:hidden;

}
.menu ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.menu li{
    float:left;

}
.menu a{
    display:block;
    color:white;
    text-align: center;
    padding:15px 19px;
    text-decoration: none;
}

/* table */
.custom_table{
width:100%;
margin-top: 25px;
border-collapse: collapse;
}
.custom_table td, .custom_table th{
    border:1px solid #dd1;
    text-align: center;
    background-color: #f2f2f2;
}
.custom_table tbody tr:nth-child(even){
    background-color:blue;
}